@{
    ViewData["Title"] = "home page";
}
  
   <html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Petvet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
   <h1> Seja bem vindo ao osso site</h1>

   <h3>a PetVet tem o prazer de te receber em nosso endereço virtual, 
    aqui você conhecerá nossos serviços e poderá fazer seus agendamentos.
   </h3>


</body>

   </html>
