@{
    ViewData["Title"] = "Serviços";
}
<h1>@ViewData["Title"]</h1>

<ul>
   <h2> <li>banho</li></h2>
    <li>completo</li>
    <li>60,00 reais</li>
</ul>

<ul> 
    <h2><li>Tosa</li></h2>
        <li>Completo</li>
        <li>35,00</li>
</ul>

<ul>
    <h2><li>Higienização das Unhas</li></h2>
        <li>Completo</li>
        <li>50,00</li>
</ul>
